<html>
      <head>
      	<title>SANJAY YADAV |PHOTOGRAPHY|MUSIC</title> 
      	<link rel="stylesheet" type="text/css" href="">
      </head>

	  <body>
	     <h1>contact no.=9876561235</h1>
	  	<p>
	  		Gateway Inc. was an American computer hardware company based in South Dakota and later California, that developed, manufactured, supported, and marketed a wide range of personal computers, computer monitors, servers, and computer accessories. It became a well-known brand in 1991 when it started shipping its computer hardware in piebald boxes and for its creative advertising in Computer Shopper and other magazines. Gateway was acquired by Acer in October 2007, for approximately US$710 million.[1]

Gateway outsourced some of its operations, such as customer support. In 2002, Gateway expanded into the consumer electronics world with products that included plasma screen TVs, digital cameras, DLP projectors, wireless Internet routers, and MP3 players. While the company enjoyed some success in gaining substantial market share from traditional leaders in the space, particularly with plasma TVs and digital cameras, the limited short-term profit potential of those product lines led then-CEO Wayne Inouye to pull the company out of that segment during 2004. Gateway still acts as a retailer selling third-party electronic goods online.

Contents [hide] 
1	History
2	Current and previous products
2.1	Previous hardware
3	Corporate affairs
3.1	Business model
3.2	Organization
4	See also
5	References
6	External links

	  	</p>
	  	
	  </body>
</html>
