<html>
      <head>
      	<title>SANJAY YADAV |PHOTOGRAPHY|MUSIC</title> 
      	<link rel="stylesheet" type="text/css" href="style.css">
      </head>

	  <body>
	  	<header>
	  		<nav>
	  			<h1>SANJAY YADAV</h1>
	  			 <ul id="nav">
	  			 	<li><a class="homered" href="#">HOME</a></li>
	  			 	<li><a class="homeblack" href="Transparent.html">PORTFULLY</a></li>
	  			 	<li><a class="homeblack" href="gateway.html">ABOUT ME</a></li>
	  			 	<li><a class="homeblack" href="contact.html">CONTACT</a></li>
	  			 	
	  			 </ul>
	  		</nav>
	  	</header>
	  	<div class="divider"></div>
	  	<dir class="fwimage1">
	  		<h2 class="homesubline">HI MY NAME <span style="color:red" >SANJAY YADAV</span> AND I LOVE YOU</h2>
	  		<h1 class="homedesign">DESIGN &</h1>
	  		<h1 class="photography">PHOTOGRAPHY</h1>
	  		<br>
	  		<button class="homebutton">PORTFULLY</button>
	  	</dir>
	  	<h3>This is dating of lover that is dating  your gairlfriend life is the felling of love. love is understanding of both girls and boys that is love each other</h3>
	  </body>
</html>
